body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #28292d;
    margin: 0;
    padding: 0;
    height: 100vh;
    cursor: url('../assets/cursor3.svg'), auto !important;
    background-image: url('../assets/Gigachad.gif');
    background-size: 100%;
    user-select: none;
}

main {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.div-table-container {
    display: flex;
    flex-direction: row;
    
}

.div-table-container #user-table-body img {
    height: 40px;
    width: 40px;
    border-radius: 50%
}


.system-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.current-time {
    float: right;
    color: #45f3ff;
}

.menuLogo {
    width: 25px;
    height: 25px;
}

.menuContainer {
    width: 100px;
    height: 30px;
    padding-left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menu {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    bottom: 50px;
    left: 0;
    background-color: #333;
    color: #fff;
    max-height: 80vh;
    overflow-y: auto;
	z-index: 9999;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    padding: 10px;
}

.menu ul li a {
    color: #45f3ff;
    text-decoration: none;
}

.profile-ico {
    height: 70px;
    width: 70px;
    left: 38px;
    top: 40px;
}

.chat-ico {
    height: 70px;
    width: 70px;
    left: 38px;
    top: 80px;
}

.terminal-ico {
    height: 70px;
    width: 70px;
    left: 38px;
    top: 120px;
}

.game-ico {
    height: 70px;
    width: 70px;
    left: 38px;
    top: 160px;
}

.pool-ico {
    height: 70px;
    width: 70px;
    left: 38px;
    top: 200px;
}

.browser-ico {
    height: 70px;
    width: 70px;
    left: 38px;
    top: 240px;
}

#profile {
    left: 38px;
    top: 50px;
}

#chat {
    left: 188px;
    top: 50px;
}

#terminal {
    left: 638px;
    top: 50px;
}

#game {
    left: 338px;
    top: 50px;
}

#pool {
    left: 488px;
    top: 50px;
}

#terminal {
    left: 638px;
    top: 50px;
}

#browser {
    left: 788px;
    top: 50px;
}

.program_name {
    color: #45f3ff;
}

.selected_program {
    background-color: #45f3ff33 !important;
}

.icon {
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 125px;
    width: 125px;

}

.logOut {
    background-color: transparent;
    height: 50px;
    width: 50px;
    border: none;
}

.logOut:hover {
    cursor: pointer;
    background-color: red;
}

.icon-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon:hover {
    background-color: #45f3ff33;
}

/* Estilo del modal de carga */
.modal-content {
    background-color: #45f3ff33;
    border-color: #45f3ff;
}

.window {
	position: fixed;
	width: 800px;
	height: 450px;
	border-radius: 10px;
	border: none;
	box-shadow: 1px 1px 4px rgba(0,0,0,0,0.9), -1px 1px 4px rgba(0,0,0,0,0.9);
	background: #45f3ff;
    top: calc(50% - 225px);
    left: calc(50% - 400px);
}

.window-content {
	background: #28292d;
	color: #45f3ff;
	height: 100%;
	font-family: monospace;
	padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.window-top, .window-top-no-bind {
	cursor: move;
	text-align: right;
	height: 40px;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 5px;
	background-color: #45f3ff33;
}

.window-top-no-bind {
	cursor: inherit;
}

.round {
	height: 16px;
	width: 16px;
	border-radius: 50%;
	border: none;
	margin-right: 6px;
	box-shadow: 1px 1px 2px #000;
}


.green {
	background-color: limegreen;
}

.yellow {
	background-color: yellow;
}

.red {
	cursor: pointer;
	background-color: red;
}


.window-content {
    font-family: 'Courier New', Courier, monospace;
}

.loading {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.LoadingImg {
    max-width: 100%;
    max-height: 100%;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.popup {
    cursor: pointer;
  }
  
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    bottom: 125%;
    left: 20%;
    margin-left: -80px;
  }
  
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }